body {
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
}

h1 {
    color: lightblue;
}

button {
    background-color: darkslategray;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: gray;
}
