.boton-nivel {
    border-radius: 96px;
    width: 465px;
    height: 125px;
}


.header{
    
    background-color: #1F2232; /* Color de la franja verde */
    height: 60px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
font-family: 'Arial', sans-serif;

}
.franja-negra, .franja-violeta {
position: absolute;
height: 60px;
width: 80px;
border-radius: 80px;
margin: 10px;
}

.franja-negra {
background-color: #1F2232;
left: 0;
z-index: 1;
}

.franja-violeta {
background-color: #963484;
left: 40px;
z-index: 2;
}

.franja-verde {
position: absolute;
border-radius: 80px;
margin: 10px;
height: 60px;
width: 1050px;
background-color: #0F7173;
left: 80px;
z-index: 3;
color: white;
justify-content: center;
display: flex;
align-items: center; 
font-size: 24px;
font-weight: bold;
padding-left: 100px;
}