body{
    
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url('brujula-removebg-preview 1.png') no-repeat center center fixed;
    background-size: cover; /* Escala la imagen para cubrir el fondo */
    position: relative;
    background-color: #2C3148;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('brujula-removebg-preview 1.png') no-repeat center center;
    background-size: cover;
    filter: brightness(0) invert(0);
    z-index: -1; /* Asegura que los otros elementos se superpongan */
    pointer-events: none; /* Evita que la imagen interfiera con la interacción del usuario */
}

.boton-nivel {
    background-color: #1F2232;
    color: #fff;
    border-color: #fff;
    border-width: 8px;
    border-radius: 96px;
    border-style: solid;
    width: 400px;
    height: 100px;
}


.header{
    
    background-color: #2C3148; /* Color de la franja verde */
    height: 60px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
font-family: 'Arial', sans-serif;

}
.franja-negra, .franja-violeta {
position: absolute;
height: 60px;
width: 80px;
border-radius: 80px;
margin: 10px;
}

.franja-negra {
background-color: white;
left: 0;
z-index: 1;
}

.franja-violeta {
background-color: #963484;
left: 40px;
z-index: 2;
}

.franja-verde {
position: absolute;
border-radius: 80px;
margin: 10px;
height: 60px;
width: 1050px;
background-color: #0F7173;
left: 80px;
z-index: 3;
color: white;
justify-content: center;
display: flex;
align-items: center; 
font-size: 24px;
font-weight: bold;
padding-left: 100px;
}