.boton-con-franja {
    position: relative;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}

.boton {
    color: black;
    border-color:black;
    border-width: 3px;
    border-radius: 96px;
    border-style: solid;
    width: 350px;
    height: 100px;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; /* Asegura que los botones estén encima de las franjas */
}

.franja {
    position: absolute;
    z-index: 0;
    background-color: #0F7173;
    border-radius: 96px;
    width: 350px;
    height: 100px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    top: 15px; /* Ajusta esta propiedad para subir o bajar la franja */

}

.boton.grande {
    height: 110px;
}

.franja.oculta {
    opacity: 0; /* Hace que desaparezca */
    transform: scale(0); /* Reduce su tamaño a 0 */
}

#boton-volver {
    border-radius: 96px;
    width: 465px;
    height: 125px;
}

.contenedor-bloques{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    gap: 20px;
    margin-top: 100px;
    
}
    /*font-family: sans-serif;
    font-style: normal;
    font-size: 3em;
    font-weight: 800;font-style: normal;
    font-size: 3em;
    font-weight: 400;*/


.header{
    padding-top: 25px;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;

}
.container-imagen {
    position: relative;
    width: 100%;
    height: 100%;
}
.img-logo{
    position: absolute;
    bottom: 20px; /* Ajusta la distancia desde el borde inferior */
    left: 20px;   /* Ajusta la distancia desde el borde izquierdo */
    width: 150px; /* Ajusta el tamaño de la imagen */
    height: 150px
}
.franja-negra, .franja-violeta {
position: absolute;
height: 60px;
width: 80px;
border-radius: 80px;
margin: 10px;
}
.cuadro-verde{
    background-color: #0F7173;
    height: 60px;
    width: 165px;
    z-index: 4;
    margin-left: 1200px;
}
.franja-negra {
background-color: #1F2232;
left: 0;
z-index: 1;
}

.franja-violeta {
background-color: #963484;
left: 35px;
z-index: 2;
}

.franja-verde {
position: absolute;
border-radius: 80px;
height: 60px;
width: 86%;
background-color: #0F7173;
left: 80px;
z-index: 3;
color: white;
justify-content: center;
display: flex;
align-items: center; 
font-family: 'Arial', sans-serif;
font-size: 30px;
font-weight: bold;
padding-left: 35px;
}