

.contenedor-bloques{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    gap: 20px;
    margin-top: 100px;
}
    /*font-family: sans-serif;
    font-style: normal;
    font-size: 3em;
    font-weight: 800;font-style: normal;
    font-size: 3em;
    font-weight: 400;*/

#boton-bloque1:hover {
    width: 405px;
    height: 105px;
    cursor: pointer;
    transition: 0.4s;
}
#boton-bloque1 {
    color: black;
    border-color: black;
    border-width: 3px;
    border-radius: 96px;
    border-style: solid;
    width: 400px;
    height: 100px;
    background-color: white;
}

#boton-bloque2 {
    color: black;
    border-color: black;
    border-width: 3px;
    border-radius: 96px;
    border-style: solid;
    width: 400px;
    height: 100px;
    background-color: white;
}
#boton-bloque2:hover {
    width: 405px;
    height: 105px;
    cursor: pointer;
    transition: 0.4s;
}

#boton-bloque3 {
    color: black;
    border-color: black;
    border-width: 3px;
    border-radius: 96px;
    border-style: solid;
    width: 400px;
    height: 100px;
    background-color: white;
}
#boton-bloque3:hover {
    width: 405px;
    height: 105px;
    cursor: pointer;
    transition: 0.4s;
}

#boton-bloque4 {
    color: black;
    border-color:black;
    border-width: 3px;
    border-radius: 96px;
    border-style: solid;
    width: 400px;
    height: 100px;
    background-color: white;
}
#boton-bloque4:hover {
    
    width: 405px;
    height: 105px;
    cursor: pointer;
    transition: 0.4s;
}

#boton-bloque5 {
    color: black;
    border-color: black;
    border-width: 3px;
    border-radius: 96px;
    border-style: solid;
    width: 400px;
    height: 100px;
    background-color: white;
}
#boton-bloque5:hover {
    width: 405px;
    height: 105px;
    cursor: pointer;
    transition: 0.4s;
}

#boton-bloque6 {
    color: black;
    border-color: black;
    border-width: 3px;
    border-radius: 96px;
    border-style: solid;
    width: 400px;
    height: 100px;
    background-color: white;
}
#boton-bloque6:hover {
    
    width: 405px;
    height: 105px;
    cursor: pointer;
    transition: 0.4s;
}

.header{
    
    background-color: #1F2232; /* Color de la franja verde */
    height: 60px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
font-family: 'Arial', sans-serif;

}
.franja-negra, .franja-violeta {
position: absolute;
height: 60px;
width: 80px;
border-radius: 80px;
margin: 10px;
}

.franja-negra {
background-color: #1F2232;
left: 0;
z-index: 1;
}

.franja-violeta {
background-color: #963484;
left: 40px;
z-index: 2;
}

.franja-verde {
position: absolute;
border-radius: 80px;
margin: 10px;
height: 60px;
width: 1050px;
background-color: #0F7173;
left: 80px;
z-index: 3;
color: white;
justify-content: center;
display: flex;
align-items: center; 
font-size: 24px;
font-weight: bold;
padding-left: 100px;
}