#boton-bloque1 {
    border-radius: 96px;
    width: 465px;
    height: 125px;
}

#boton-bloque2 {
    border-radius: 96px;
    width: 465px;
    height: 125px;
}

#boton-bloque3 {
    border-radius: 96px;
    width: 465px;
    height: 125px;
}

#boton-bloque4 {
    border-radius: 96px;
    width: 465px;
    height: 125px;
}

#boton-bloque5 {
    border-radius: 96px;
    width: 465px;
    height: 125px;
}

#boton-bloque6 {
    border-radius: 96px;
    width: 465px;
    height: 125px;
}