#boton-cursoA {
    border-radius: 96px;
    width: 465px;
    height: 125px;
}

#boton-cursoB {
    border-radius: 96px;
    width: 465px;
    height: 125px;
}

#boton-cursoC {
    border-radius: 96px;
    width: 465px;
    height: 125px;
}

#boton-cursoD {
    border-radius: 96px;
    width: 465px;
    height: 125px;
}

#boton-cursoE {
    border-radius: 96px;
    width: 465px;
    height: 125px;
}