.boton-nivel {
    background-color: #1F2232;
    color: #fff;
    border-color: #fff;
    border-width: 8px;
    border-radius: 96px;
    border-style: solid;
    width: 400px;
    height: 100px;
}


.header{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}
.cuadro-verde{
    background-color: #0F7173;
    height: 60px;
    width: 165px;
    z-index: 4;
    margin-left: 1200px;
}
.franja-negra, .franja-violeta {
position: absolute;
height: 60px;
width: 80px;
border-radius: 80px;
margin: 10px;
}

.franja-negra {
background-color: white;
left: 0;
z-index: 1;
}

.franja-violeta {
background-color: #963484;
left: 35px;
z-index: 2;
}

.franja-verde {
    position: absolute;
    border-radius: 80px;
    height: 60px;
    width: 86%;
    background-color: #0F7173;
    left: 80px;
    z-index: 3;
    color: white;
    justify-content: center;
    display: flex;
    align-items: center; 
    font-family: 'Arial', sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding-left: 35px;
}
.img-logo{
    position: absolute;
    bottom: 20px; /* Ajusta la distancia desde el borde inferior */
    left: 20px;   /* Ajusta la distancia desde el borde izquierdo */
    width: 150px; /* Ajusta el tamaño de la imagen */
    height: 150px
}