.boton-nivel {
    border-radius: 96px;
    width: 465px;
    height: 125px;
}


.header{
    padding-top: 25px;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    font-family: 'Arial', sans-serif;
}
.cuadro-verde{
    background-color: #0F7173;
    height: 60px;
    width: 80px;
    z-index: 4;
    margin-left: 1300px;
}
.franja-negra, .franja-violeta {
position: absolute;
height: 60px;
width: 80px;
border-radius: 80px;
margin: 10px;
}

.franja-negra {
background-color: #1F2232;
left: 0;
z-index: 1;
}

.franja-violeta {
background-color: #963484;
left: 40px;
z-index: 2;
}

.franja-verde {
position: absolute;
border-radius: 80px;
margin: 10px;
height: 60px;
width: 86%;
background-color: #0F7173;
left: 80px;
z-index: 3;
color: white;
justify-content: center;
display: flex;
align-items: center; 
font-size: 24px;
font-weight: bold;
padding-left: 100px;
}
.img-logo{
    position: absolute;
    bottom: 20px; /* Ajusta la distancia desde el borde inferior */
    left: 20px;   /* Ajusta la distancia desde el borde izquierdo */
    width: 150px; /* Ajusta el tamaño de la imagen */
    height: 150px
}