.boton-inicio {
    border-width: 3px;
    border-style: solid;
    border-color: black;
    border-radius: 50%;
    width: 50%;
    height: 96vh;
}

.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 96vh;
}
.img{
    position: relative;
    left: 25%;
    top: 17%
}
body{
    font-family: 'Arial', sans-serif;
    
}



