body{
    background-color: #1F2232;
    font-family: 'Arial', sans-serif;
}
#boton-inicio {
    background: url('Group.png') no-repeat center center fixed;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border-width: 0px;
}


