.recorrido{
    color: white;
}

.img-logo {
    position: absolute;
    top: 25px; /* Ajusta esta distancia para mover la imagen más arriba o abajo */
    left: 5%; /* Ajusta la distancia desde el borde izquierdo según necesites */
    width: 150px; /* Tamaño de la imagen */
    height: 150px;
}

.speech-bubble {
    position: absolute;
    top: 25px; /* Ajusta esta distancia para mover la imagen más arriba o abajo */
    left: 25%;
    background-color: #e0e0e0; /* Color de fondo de la caja */
    border-radius: 15px; /* Redondear los bordes */
    padding: 3px 8px;
    max-width: 400px;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto; /* Centrar horizontalmente */
    text-align: center; /* Alinea el texto dentro de la caja al centro */
}

.speech-bubble::after {
    content: '';
    position: absolute;
    top: 70%; /* Posiciona el triángulo a la mitad de la altura de la caja */
    left: -10px; /* Mueve el triángulo hacia fuera del lado izquierdo */
    transform: translateY(-50%); /* Centra el triángulo verticalmente */
    width: 0;
    height: 0;
    border-top: 10px solid transparent; /* Borde superior transparente */
    border-bottom: 10px solid transparent; /* Borde inferior transparente */
    border-right: 10px solid #e0e0e0; /* Triángulo hacia la izquierda del mismo color que el fondo */
    }

.speech-bubble p {
    margin: 0;
}
body {
    background-color: #2C3148;
    background-image: url('brujula-oscura.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: 85%;
    position: relative; /* Para permitir la superposición de elementos */
    }

section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99vw;
    height: 97vh;
}
.contenedor-mapa{
    position: relative;
    top: 16%;
    background-color: #d9d9d9;
    width: 93%;
    height: 68%;
    left: 10px;
}   

/*font-family: "Kite One", sans-serif;
    font-weight: 400;
    font-style: normal;*/