#boton-SI {
    border-radius: 50%;
    background-color: #0F7173;
    width: 200px;
    height: 200px;
    color: white;
    border: 0px;
    
    
    
}
    #boton-SI:hover {
    background-color: #094d4e; /* Color de fondo al pasar el mouse */
    width: 210px;
    height: 210px;
    cursor: pointer;
    transition: 0.5s;
}

#boton-NO {
    border-radius: 50%;
    background-color: #963484;
    width: 200px;
    height: 200px;
    color: white;
    border: 0px;
    margin-left: 15px;
    /*font-family: sans-serif;
    font-style: normal;
    font-size: 3em;
    font-weight: 800;font-style: normal;
    font-size: 3em;
    font-weight: 400;*/
}
#boton-NO:hover {
    background-color: #6e2661; /* Color de fondo al pasar el mouse */
    width: 210px;
    height: 210px;
    cursor: pointer;
    transition: 0.5s;
}

#boton-volver {
    border-radius: 96px;
    width: 465px;
    height: 125px;
}


.header{
    background-color: #1F2232; /* Color de la franja verde */
    height: 60px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
font-family: 'Arial', sans-serif;

}
.franja-negra, .franja-violeta {
position: absolute;
height: 60px;
width: 80px;
border-radius: 80px;
margin: 10px;
}

.franja-negra {
background-color: #1F2232;
left: 0;
z-index: 1;
}

.franja-violeta {
background-color: #963484;
left: 40px;
z-index: 2;
}

.franja-verde {
position: absolute;
border-radius: 80px;
margin: 10px;
height: 60px;
width: 1050px;
background-color: #0F7173;
left: 80px;
z-index: 3;
color: white;
justify-content: center;
display: flex;
align-items: center; 
font-size: 24px;
font-weight: bold;
padding-left: 100px;
}

#guia {
    color: black;
    background-color: white;
    width: 300px; 
    height: 50px; 
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;

}